body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global variables */
:root {
  --form-bg-color: #ffffff;
  --form-shadow-color: rgba(0, 0, 0, 0.1);
  --font-primary: "Arial", sans-serif;
  --input-border-color: #dcdcdc;
  --input-focus-border: #62a87c;
  --error-color: #e74c3c;
  --button-bg-color: #254336;
  --button-hover-color: #1e3b2f;
  --button-active-color: #19322a;
  --link-color: #254336;
  --link-hover-color: #1e3b2f;
}

/* Existing styles for high contrast */
.high-contrast {
  background-color: #000000;
  color: #ffffff;
}

.high-contrast a {
  color: #ff0;
}

.high-contrast button {
  background-color: #ff0;
  color: #000;
}

/* Grayscale Mode */
.grayscale {
  filter: grayscale(100%);
}

/* Dyslexia-Friendly Font */
.dyslexia-font {
  font-family: 'OpenDyslexic', Arial, sans-serif;
}

/* Accessibility Button Styles */
.accessibility-button {
  border: none;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}


