:root {
  --primary-color: #254336;
  --secondary-color: #d1d1bd;
}


.footer {
  background-color: #2b4a42;
  color:var(--secondary-color);
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content h3 {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.footer-content p {
  font-size: 0.95em;
  line-height: 1.6;
  color: #e3e6d8;
}

.footer-about-section {
  width: 40%;
  text-align: left;
}

.resources-section {
  width: 20%;
  text-align: left;
}

.resources-section ul {
  list-style-type: none;
  padding: 0;
}

.resources-section ul li {
  margin: 10px 0;
}

.nav-link{
  color: #e3e6d8;
}

.social-section {
  width: 15%;
  text-align: center;  
}

.social-icons a{
  font-size: 1.5em;
  margin: 2%;
  display: block;
  color: #e3e6d8;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #e3e6d8;
  padding-top: 10px;
}

.footer-bottom p {
  font-size: 0.85em;
  color: #e3e6d8;
}

/* Tablet View */
@media (max-width: 834px) {
  .footer-content {
    flex-direction: column; 
    align-items: center; 
  }

  .footer-about-section,
  .resources-section,
  .social-section {
    text-align: center;
  }

  .footer-about-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .resources-section ul {
    text-align: center;
    padding: 0;
  }
}

/* Mobile View */
@media (max-width: 430px) {
  .footer-content h3 {
    font-size: 1.2em;

  }
  .social-section h3{
    margin-top: 20px;
  }
  .footer-content p {
    font-size: 0.85em;
  }

  .social-icons a {
    font-size: 1.2em; 
  }

  .footer-bottom p {
    font-size: 0.75em;
  }
}