/* input.css */
.text-field-container {
  position: relative;
  margin-bottom: 1rem;
}

.text-field-label {
  /* position: absolute;
  top: -8px;
  left: 2%; */
  /* background: white; */
  padding: 0 4px;
  font-size: 1rem;
  color: #666;
}

.text-field-input {
  width: 100%;
  padding: 14px 20px;
  font-size: 16px;
  border: 2px solid #2b3a42;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.text-field-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(43, 58, 66, 0.3);

}

.text-field-input::placeholder {
  color: transparent;
}

.form-group-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-group-checkbox input[type="checkbox"] {
  margin-right: 10px;
}

.form-group-checkbox label {
  font-size: 14px;
}

.form-group-checkbox a {
  color: #2b3a42;
  font-weight: bold;
  text-decoration: none;
}

.form-group-checkbox a:hover {
  text-decoration: underline;
}

.form-radio {
  margin-bottom: 20px;
  margin-top: -7px;
}
.radio-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
}

.radio-buttons label {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #2b3a42;
}

.radio-buttons input[type="radio"] {
  margin-right: 8px;
}
/* High Contrast Mode */
.high-contrast .text-field-input {
  background-color: #333333;
  color: #ffffff;
  border: 2px solid #ffff00;
}

.high-contrast .form-group-checkbox label,
.high-contrast .radio-buttons label {
  color: #ffff00;
}
