.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 30px;
    border-bottom: 2px solid #254336; 
}

/* Logo styling */
.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #254336; 
}


.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links li {
    margin: 0 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #254336; /* Dark green color */
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #1e3b2f; /* Darker green on hover */
}

/* Profile icon */
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-right a{
    margin: 2%;
}

.profile-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.nav-link{
    margin: 2%;
}

.profile-icon{
    width: 3vw;
  height: 3vw;
  color: black;
}