.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  margin-top: 5px;
}

.form-group input[type="file"] {
  text-align: center;
}

.column {
  width: 48%;
}

.form-group a {
  color: #004c3f;
  text-decoration: none;
}

.job-application-header {
  text-align: center;
}
/* High Contrast Mode */
.high-contrast .form-group label {
  color: #ffff00;
}

.high-contrast .form-group input {
  border: 2px solid #ffff00;
}

.high-contrast .job-application-header {
  color: #ffff00;
}
