# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        # Navigate to the frontend folder before running commands
    - name: Change Directory to Frontend
      run: cd job_buddy_frontend
    - run: npm ci 
      working-directory: job_buddy_frontend # Set working directory to 'frontend'

    - name: Build
      run: npm run build --if-present
      working-directory: job_buddy_frontend  # Set working directory to 'frontend'

    - name: Test
      run: npm test
      working-directory: job_buddy_frontend  # Set working directory to 'frontend'
    
